<!-- Page for non-user - Includes Login/Signup -->
 <p>This is index</p>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#SignInModal">
    Sign In
</button>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#SignUpModal">
    Sign Up
</button>

<!-- Include modals -->
 <%- include("../partials/SignInModal") %>
 <%- include("../partials/SignUpModal") %>